.gradle/
/build/
out/

.gitattributes

gradle-app.setting

.gradletasknamecache

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

*.iml
*.iws
*.ipr
.idea/

.settings/
.classpath
.project

nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

!gradle-wrapper.jar

.DS_Store

mqjms.log.*
